@inherits LayoutComponentBase

<div class="h-screen w-full bg-slate-950 text-slate-50 antialiased overflow-hidden select-none safe-top safe-bottom">
    <!-- Aquí se renderizará tu pantalla de bienvenida de forma limpia sin menús -->
    @Body
</div>
